#filterSortContainer {
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.filterSortItem {
    display: flex;
    flex-flow: row;
}