#add-recipe-btn {
    font-size: 25px;
    font-family: 'Lexend Deca', sans-serif;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(233, 33, 33);
}

#add-recipe-btn:hover {
    cursor: pointer;
}

#add-recipe-btn:active {
    background-color: rgb(255, 0, 0);
    border: none;
}