#sidebar {
    height: 100%;
    width: 25%;
    background-color: rgb(250, 140, 100);
    text-align: center;
}

#links {
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 1px solid black;
}

a {
    color: inherit;
    text-decoration: none;
}