#filterSortContainer {
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}

.dropdownContainer {
    display: flex;
    flex-flow: row;
}

.dropdownBtn {
    width: 200px;
    text-align: left;
}

.dropdownItem {
    width: 200px;
    padding-left: 5px; 
    text-align: left;
    z-index: 50,
}